os: linux
dist: bionic
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"

git:
  depth: false

stages:
- lint
- test
- docker
- publish

install: pip install tox-travis
script: tox

jobs:
  include:
  - stage: lint
    script: make lint
  - stage: docker
    name: Build and tag Docker image
    script: ./scripts/docker-build.sh
    deploy:
      provider: script
      script: ./scripts/docker-push.sh
      on:
        condition: $TRAVIS_BRANCH = master || -n $TRAVIS_TAG
        tags: true
  - stage: publish
    script: make build
    deploy:
      provider: pypi
      username: __token__
      password:
        secure: QJkC+4XtGH7ugkxlhwdoF9oizyuOWWaSUBJoZVrXcXTnFF+yVz8rjsHUqECW8Lpb/yniu7fNpXMzlajN0/w87d2susPmJXLLZuHvEBeMcLJClJ9CABmx5UL1+YCvqUeEZtb0dJb5kDp8hPk3zskBVmvaQ2G4T0J+boTC+gYM74dmxqbMfakQ2g+cv0Br9zw5fDGFTj7JneCGxrS3FjhKRDCiHEUoIIz9e/zNDywFTioKUghSwxkkCVjVpA1YzDoXMLWyGUjxILIhzOJVetws0ZKtIcn/7PZH5VvCmqpyyvw3L1/SvvjwhUhYejBEJbhu3JHckDNXXDPYNYrLh7yzmT7lZGyc9NSESCgJH/y3mCml4JrzXMO+CtcAQ81SRqWmLSS8sCw6pkNvo9GPBTHPrDfw7+Tuhh+AAq+1n2M7E9tPzTU//un0T+TZQH6mWUVcdqJh05DrXkv9SxY3moiYrFo5oEKlUlfV1MlFEah1bwsm8TDKZL2bztgxMb3zvREdYJt5UqIFcS6Yx0tbSu82urnZ6kH99cOmHya7YwvGrZTlsXpx/i41ai9U+ACnKG8dHsH9Txz0LuGPpl+osk5BzRXBddol/nhoentaCJey9GC6/k81mPDNFppu0lfNqe9tWsplZuVinw+HeV9zgN9Cbb8bSaH+YvnTk7JQg6ZQSAw=
      on:
        tags: true
    if: tag IS present

env:
  global:
    secure: Kt0259chh25Njvk/7nlROihdfS2W2dT0AsKFuf9weI+2RZwDUAcctmZZcwja81gbXThN+yLB1vAseg8AFyqHAWq4et1bV8Au/KvTm7MUulqdsvHjrdIhRrDnsO78q90V0E3gDTqgH0vi2llZ0bWb3Ap0Y/8uzmz0yHq3MrTz7ytwwP0Yphx8luoAQnRmCQLca07YjAQYSJPUM0zQC+WToyvGdd4vSUsRXBdjLwfzQIoj/hSbs/GcQIoYOiCw0e+ReCQHtwXgmdnUKX3gDolVjegakUmAQKYfUWHWFqRtnGuEwhPK5WXSQwZ+hr9PonNSAykLelOai4M5xa6oLjtfJub+6HyuDN37qPnFPAfDvyYsIBRayosUDYJLUNo9wwrtfvydK3GgmHK8LT7injRnoXockRWZo5NjWHK4KybY8joW5XxHfOMTd3xZX0wSAv1O84hNSUibFEii1+KyOdaRdLt+rjZMvkEo7LMyIUdt6ddgiVMyx3F/Oc3RI8vfEVlV1C/4e2/tRxIqthjtG7XCT6X3wtvItDSyl6CO7IRUztkgsPDPZ2T7Rc1BqXgzsAKeo/IdlaIlQSdbzxboAnsQKUF1kzsWjbxfi/gBd3rrn69OUtP5PYbgL1pWqIKw6fPDkfuK5bPHtQx63SRBke2ZvOFshu0IJg4hmfzFIlHctqk=
